[Unit]
Description=dwm on X display %I
After=X11@%i.target
Requisite=X11@%i.target

[Service]
Environment=DISPLAY=%I
Type=notify
NotifyAccess=all
; ExecStart=/usr/bin/env ssh-agent dwm
ExecStart=/usr/bin/env bash -c 'exec 8>${XDG_RUNTIME_DIR}/x11-wm@%I; exec awesome'
SyslogIdentifier=dwm
Restart=no
