[Unit]
Description=jakcd service

[Service]

; realime=R no realtime=r
; Gen : Scarlett
; Camera: Camera
; Tube : firepod Tube
; Mobile : firestudio mikri tou tassou
; Device : build in card of laptop
Environment="INPUT_CARD=Camera"
Environment="OUTPUT_CARD=Gen"
Environment="SAMPLERATE=48000"
Environment="REALTIME=R"
Environment="BUFFER=2048"

Type=simple

ExecStartPre=/usr/bin/bash -c "while ! pgrep pulseaudio;do sleep 1s;done;sleep 2s"
ExecStartPre=-/usr/bin/pacmd suspend true

ExecStart=/usr/bin/jackd -u -${REALTIME} -dalsa -r${SAMPLERATE} -p${BUFFER} -n4 -Xraw -Chw:${INPUT_CARD} -Phw:${OUTPUT_CARD}

ExecStartPost=/usr/bin/bash -c "while ! pgrep jackd;do sleep 1s;done;sleep 2s"
ExecStartPost=-/usr/bin/pactl load-module module-jack-sink sink_name=MainSink sink_properties=device.description=Speakers channels=2
ExecStartPost=-/usr/bin/pactl load-module module-jack-source source_name=MicSource source_properties=device.description=Mic channels=2
ExecStartPost=-/usr/bin/pactl load-module module-jack-sink sink_name=LoopSink sink_properties=device.description=LoopIn channels=2 connect=false
ExecStartPost=-/usr/bin/pactl load-module module-jack-source source_name=LoopSource source_properties=device.description=LoopOut channels=2 connect=false

; ExecStartPost=-/usr/bin/pactl load-module module-echo-cancel source_name=MicEchoCancel source_properties=device.description=MicEchoCancelOut channels=2 connect=false

ExecStartPost=-/usr/bin/pacmd set-default-sink jack_out
ExecStartPost=-/usr/bin/pacmd set-default-source jack_in

ExecStop=-SINKID=$(LANG=C pactl list | grep -B 1 "Name: module-jack-sink" | grep Module | sed 's/[^0-9]//g') /usr/bin/pactl unload-module $SINKID
ExecStop=-SOURCEID=$(LANG=C pactl list | grep -B 1 "Name: module-jack-source" | grep Module | sed 's/[^0-9]//g') /usr/bin/pactl unload-module $SOURCEID
ExecStop=/usr/bin/killall jakcd | true
ExecStop=/user/bin/bash -c "while pgrep jackd;do sleep 1s;done"
Restart=always

ExecStopPost=/usr/bin/pacmd suspend false

SyslogIdentifier=jackd

[Install]
WantedBy=default.target
