[Unit]
Description=qpwgraph applet
After=X11@%i.target
Requisite=X11@%i.target

[Service]
Environment=DISPLAY=%I

Type=simple
ExecStart=/usr/bin/env qpwgraph -m
# Takes the path of a checked-out repository in which we want to zip for 
# release. The script will copy the directory and strip anything that is git 
# ignored and remove any git files

SyslogIdentifier=qpwgraph

[Install]
WantedBy=X11@%i.target
