[Unit]
Description=Volume management system tray applet
After=X11@%i.target
Requisite=X11@%i.target

[Service]
Environment=DISPLAY=%I

Type=simple
ExecStart=/usr/bin/env pasystray -g --volume-max=100
# Takes the path of a checked-out repository in which we want to zip for 
# release. The script will copy the directory and strip anything that is git 
# ignored and remove any git files

SyslogIdentifier=pasystray

[Install]
WantedBy=X11@%i.target
